.panel {
    background-color: rgb(132, 174, 192);
    border-left: 1px solid rgb(157, 87, 87);
    border-right: 1px solid whitesmoke;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }
  
  .container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
  }
  
  button.accordion {
    width: 100%;
    background-color: rgb(131, 86, 86);
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s linear;
  }
  
  button.accordion:after {
    content: "\f150";
    font-family: "fontawesome";
    font-size: 18px;
    float: right;
  }
  
  button.accordion.is-open:after {
    content: "\f151";
  }
  
  button.accordion:hover,
  button.accordion.is-open {
    background-color: #946c6c;
  }